
.form-style {
  align-self: center;
  width: 30vw;
  color: #fefefe;
  background-color: #828da9;
  border-radius: 10px;
  padding: 4rem;
  margin: auto;
  margin-bottom: 1rem;
}
.form-control {
  width: 85%;
}
h2 {
  color: #303646;
  padding-bottom: 0.5rem;
}


.container {
  width: 60%;
  padding: 2rem 0rem;
}

h4 {
  margin: 2rem 0rem 1rem;
}



@media only screen and (max-width: 768px) {
  
  h3 {
    font-size: 0.8rem;
    text-align: center;
  }
  .form-style {
    width: 80vw;
  }
  h2 {
    font-size: 1.5rem;
  }
  .form-style{
    margin-left: 2rem;
  }
}
